@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

.container {
    margin-top: 20px;
    min-width: 450px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container h1 {
    font-size: 34px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}

.block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}