@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightblue;
}

.navbar__links {
    min-width: 50px;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 18px;
    color: blue;
    text-decoration: none;
    font-weight: 300;

}

.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.navbar__linksActive {
    color: orange;
    font-weight: 400;
}