@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background: lightblue;
}
.navbar {
    margin-right: 5px;
}
.navbar__links {
    min-width: 50px;
    margin: 10px;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    color: blue;
    text-decoration: none;
    font-weight: 300;

}

.nav {
    max-width:800px;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.navbar__linksActive {
    font-weight: 400;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.43);
}