@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');


.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    max-width: 800px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Josefin Slab', serif;
}
.post h4 {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}
.post span {
    color: red;
}

.postBtns {
    display: flex;
}
.body {
    font-size:16px;
}
